body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  /* padding: 20px; */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(234px, 1fr));
  gap: 20px;
  height: 34rem;
}

.product-item {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  height: fit-content;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-item h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.price {
  color: #2c3e50;
  font-size: 1.2em;
}

.featured-product-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.btn:hover {
  background-color: #2980b9;
}

.view-all {
  margin-top: 20px;
  display: block;
  width: 100%;
}
